@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}
form .text-name {
  padding-top: 0.5rem ;
  font-size: 17px;
  font-weight: 400;
}
.bg-pink:hover {
  background-color: #fff !important;
}
.bg-pink {
  background-color: #debdec !important;
}
