body {
    margin: 0;
    padding: 0;
}

.logo-image {
    width: 254.98px;
    height: 59.92px;
}

.nav-link a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #4E424C;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}


.nav-link {
    display: flex;
    align-items: center;
    gap: 2rem;
}



@media screen and (max-width: 450px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        flex-wrap: wrap;
        flex-direction: row;
    }

}