body {
    background-color: deepskyblue;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.kotak {
    background-color: white;
    width: 500px;
    margin: 80px auto;
    padding: 30px 30px;
    border-radius: 20px;
}

.form {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}

button {
    background-color: coral;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    width: 100%;
}