/*Import Font from Google font*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}


/* Sidebar Menu */
.main-content{
  height: 100vh;
}

/* NAVBAR LOGO */
.navbar-logo {
  height: 80px;
  width: 250px;
}

/* Color Class (form button) */
.button-form{
  color : #c075ea;
  background-color: #F7E4FF;
}
