@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}
.primary-color {
  color: #C075EA;
}

.primary-bg {
  background-color: #F7E4FF;
}

.bg-ungu {
  background-color: #C075EA;
}

.bg-pink {
  background-color: #F7E4FF;
}

.text-pink {
  color: #C759F5;
}

.text-pink:hover {
  color: #9F00E2;
}

.text-ungu {
  color: #C075EA;
}

.add-question:hover {
  background-color: rgba(192, 117, 234, 0.7);
}

.username {
  font-size: 13px;
}

/* icon sizing */
.like-icon img,
.comment-icon img {
  width: 20px;
}

/* Sidebar Menu */
.sidebar img {
  fill: gray;
}

.register-container {
  height: 90vh;
}

.register-container .row {
  width: 100%;
}

/* Hover Sidebar */
.nav-item:hover {
  background-color: #FFF;
}

.menu-profile:hover, 
.menu-semua:hover,
.menu-terjawab:hover,
.menu-pending:hover {
  color: #C075EA;
  background-color: #F7E4FF;
}

.profile-image {
  height: 250px;
  margin-bottom: 150px;
}

.profile-image img {
  top: 100%;
  height: 250px;
  width: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-icon {
  width: 60px;
}

.daftar {
  color: #9F00E2;
}

.daftar:hover {
  color: #470264;
}