@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a
{
    text-decoration: none;
}

.header_wrapper header
{
    width: 100%;
    min-height: calc(25px + 10vw);
}

.header_wrapper .cols_container .left_col
{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.header_wrapper .cols_container .left_col .img_container
{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.header_wrapper .cols_container .left_col .img_container img
{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.20);
}

.header_wrapper .cols_container .left_col .img_container span
{
    position: absolute;
    background: #FFD93D;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.header_wrapper .cols_container .left_col h2
{
    margin-top: 60px;
    font-weight: 700;
    font-size: 22;
    margin-bottom: 5px;
}

.header_wrapper .cols_container .left_col p
{
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

.header_wrapper .cols_container .left_col .about
{
    justify-content: space-around;
    position: relative;
    margin: 35px 0;
}

.header_wrapper .cols_container .left_col .about li
{
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}

.header_wrapper .cols_container .left_col .about li span
{
    color: #1d1d1d;
    font-weight: 700;
}

.header_wrapper .cols_container .left_col .about::after
{
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width: 100%;
}

.header_wrapper .cols_container .content p
{
    font-size: 1.1rem;
    color: #1d1d1d;
    line-height: 1.8em;
}

.header_wrapper .cols_container .content ul
{
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header_wrapper .cols_container .content ul li
{
    font-size: 1.3rem;
}

.header_wrapper .cols_container .right_col nav
{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

.header_wrapper .cols_container .right_col nav ul
{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header_wrapper .cols_container .right_col nav ul li a
{
    text-transform: uppercase;
    color: #818181;
}

.header_wrapper .cols_container .right_col nav button
{
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.header_wrapper .cols_container .right_col nav ul li:nth-child(1) a
{
    color: #1d1d1d;
    font-weight: 700;
}

.header_wrapper .cols_container .right_col nav button:hover
{
    opacity: 0.8;
}

.header_wrapper .cols_container .right_col .galleries
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
}

.header_wrapper .cols_container .right_col .galleries img
{
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

@media (min-width:868px)
{
    .header_wrapper .cols_container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .header_wrapper .cols_container .left_col {
        padding: 25px 0;
    }

    .header_wrapper .cols_container .right_col nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .header_wrapper .cols_container .right_col .galleries {
        height: 250px;
        overflow: auto;
        padding: 0 0 40px;
    }
}

@media (min-width: 1017px)
{
    .header_wrapper .cols_container .left_col {
        margin: 0;
        margin-right: auto;
    }

    .header_wrapper .cols_container .right_col nav {
        flex-direction: row;
    }

    .header_wrapper .cols_container .right_col nav button {
        margin-top: 0;
    }
}